---
import type { CollectionEntry } from "astro:content";
import PostPreview from "./PostPreview.astro";

interface Props {
  posts: CollectionEntry<"blog">[];
  heading?: string;
  isWeekly?: boolean;
  mode?: "row" | "col";
}

const { posts, heading, isWeekly, mode = "col" } = Astro.props;
const sortedPosts = [...posts].sort(
  (a, b) =>
    new Date(b.data.date).valueOf() - new Date(a.data.date).valueOf()
);
---

{
  heading && (
    <h5 class="list-heading ink-h">{heading}</h5>
  )
}
<section class={`post-list post-list--${mode}`}>
  {
    sortedPosts.map((post) => (
      <PostPreview
        post={post}
        asCard={mode === "row"}
        isWeekly={isWeekly}
      />
    ))
  }
</section>

<style>
  .list-heading {
    @apply pl-1 mb-2;
  }
  .post-list {
    @apply flex flex-col gap-3;
  }
  .post-list--row {
    @apply flex-row flex-wrap gap-3;
  }
</style>
